.zag{
    font-size: 40px;
    text-align: center;
    color:rgb(111, 224, 36)
}
.osn{
   text-align: center;
     
}
.bat{
    text-align: center;
    margin-top: 50px;
}
.but{
    width: 150px;
    height: 30px;
}

.block{
font-size: 28px;
background-color: rgb(252, 242, 229);
margin: 100px auto;
width: 150px;
height: 40px;
padding-top: 10px;
border: 2px solid;
}